<div class="home">
    <div class="home_origin">
        <span class="home_title">Password:</span>
        <span class="home_password"><%- password %></span>
    </div>
    <div class="home_group">
        <p class="home_title">MD5</p>
        <textarea class="home_content"><%- hashCodeMd5 %></textarea>
    </div>
    <div class="home_group">
        <p class="home_title">SHA1</p>
        <textarea class="home_content"><%- hashCodeSha1 %></textarea>
    </div>
    <div class="home_group">
        <p class="home_title">SHA256</p>
        <textarea class="home_content"><%- hashCodeSha256 %></textarea>
    </div>
    <div class="home_group">
        <p class="home_title">SHA512</p>
        <textarea class="home_content"><%- hashCodeSha512 %></textarea>
    </div>
    <div class="home_group">
        <p class="home_title">SHA3</p>
        <textarea class="home_content"><%- hashCodeSha3 %></textarea>
    </div>
</div>